html, body {
    margin: 0;
    height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 115%;
    line-height: 1.4;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.part {
    padding: 1em 2em;
}

a {
    text-decoration: none;
    color: #546E7A;
}

a:hover {
    text-decoration: underline;
    color: #E53935;
}
